src/main/mule/sample-logger-elk.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:json-logger="http://www.mulesoft.org/schema/mule/json-logger"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/json-logger http://www.mulesoft.org/schema/mule/json-logger/current/mule-json-logger.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="sample-logger-elkFlow" doc:id="ce94d21a-5c72-461b-885b-73330663dbad" >
		<http:listener doc:name="Listener" doc:id="72b1f145-16ea-4906-8eef-14355ad6dfe8" path="/{region}/{city}" config-ref="HTTP_Listener_config"/>
		<http:request method="GET" doc:name="Request" doc:id="c011f6f2-4b1e-456a-bf77-15b37d15c54e" config-ref="HTTP_Request_configuration" path="/{region}/{city}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	city : attributes.uriParams.city,
	region : attributes.uriParams.region
}]]]></http:uri-params>
		</http:request>
		<json-logger:logger doc:name="Logger" doc:id="66f310b7-0581-4a23-abdc-33e1f5a85782" headers='#[output application/json ---
{
 	 header: "json"
}]' keyfields='#[output application/json ---
{
 	 keyfield: "Pid"
}]' config-ref="JSON_Logger_Config" loggingMessage="HELLo"/>
	</flow>
</mule>
